{% load static %}


<div class=" flex flex-row items-center justify-between w-full h-full px-3 mx-auto contianer lg:px-6 md:px-3 " style="max-width: 1200px; ">
  <a href="{% url "cores:home" %}">
    <img src="{% static 'img/logo.svg' %}" style="width:100px" />
  </a>
  <nav class="h-full text-white">
    <ul class="flex items-center h-full text-sm font-medium">
      <li class="ml-6">
        <a href="{% url "authors:list" %}" class=" hover:text-primary">ARTIST</a>
      </li>
      <li class="ml-6">
        <a href="{% url "products:productList" %}" class=" hover:text-primary">COLLECTION</a>
      </li>
      <li class="ml-6">
        <a href="{% url "cores:about" %}" class=" hover:text-primary">ABOUT</a>
      </li>
      <li class="ml-6">

        <a href="{% url "contacts:contact" %}" class=" hover:text-primary">CONTACT</a>
      </li>
    </ul>


  </nav>
</div>