{% load static %}


<div class=" flex flex-col lg:flex-row items-center justify-between h-full px-3 mx-auto contianer lg:px-6 px-3 py-3 lg:py-0 container mx-auto">
  <a href="{% url "cores:home" %}">
    <img src="{% static 'img/logo.svg' %}" style="width:100px" />
  </a>
  <nav class="h-full text-white mt-3 lg:mt-0">
    <ul class="flex items-center h-full text-sm font-medium">
      <!-- <li class="lg:ml-6">
        <a href="{% url "authors:list" %}" class=" hover:text-primary">ARTIST</a>
      </li> -->
      <li class="lg:ml-6">
        <a href="{% url "products:productList" %}" class=" hover:text-primary">COLLECTION</a>
      </li>
      <li class="ml-6">
        <a href="{% url "cores:about" %}" class=" hover:text-primary">ABOUT</a>
      </li>
      <li class="ml-6">

        <a href="{% url "contacts:contact" %}" class=" hover:text-primary">CONTACT</a>
      </li>
    </ul>


  </nav>
</div>