{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" /> -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


  <link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}" />
  <script type="text/javascript" src="{% static 'slick/slick.js' %}"></script>
  <title>{% block page_name %} {% endblock page_name %} | KNFT</title>

  {% if request.resolver_match.url_name == "detail" %}


  <meta property="og:title" content=" KNFT" />
  <meta property="og:site_name" content="knft" />
  <meta property="og:description" content="{{product.description|striptags|truncatewords:20}}" />
  <meta property="og:url" content="https://knftdigital-4joj4.ondigitalocean.app/product/{{product.pk}}" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="{{product.image.file360.url}}" />
  <meta property="og:image:alt" content="{{product.title}}" />


  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:url" content="https://knftdigital-4joj4.ondigitalocean.app/product/{{product.pk}}">
  <meta name="twitter:title" content="{{product.title}}">
  <meta name="twitter:description" content="{{product.description|striptags|truncatewords:20}}">
  <meta name="twitter:image" content="{{product.image.file360.url}}">
  <meta name="twitter:image:alt" content="{{product.title}}">


  {% else %}
  <meta name="description" content="This is the description for the homepage.">
  <meta property="og:title" content=" KNFT" />
  <meta property="og:site_name" content="knft" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="https://knftdigital-4joj4.ondigitalocean.app" />
  <meta property="og:type" content="website" />

  {% endif %}


  <style>
    body {
      font-family: "Mulish" !important;
    }
  </style>
</head>

<body class="relative bg-back">
  <header class="absolute top-0 z-30 w-full bg-transparent" style="height:80px; ">
    {% include "partials/header.html" %}
  </header>
  <div>
    {% block content %}
    {% endblock %}
  </div>
  {% include "partials/footer.html" %}
</body>

</html>