{% extends 'base.html' %}
{% load static %}
{% block page_name %} contact {% endblock page_name %}

{%block content %}
<style>
  #contactform input,
  #contactform select,
  #contactform textarea {
    width: 100%;
    padding: 10px;
  }

  #contactform label {
    color: white
  }
</style>
<div class="flex flex-col items-center w-full">
  <div class="flex flex-col items-center justify-center w-full pt-24 pb-12" style="
      background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.7) 50%,rgba(0, 0, 0, 0.8) 100%), url('{% static "img/loveBack.jpeg"%}') no-repeat center center;height:300px;">
    <div class="flex flex-col items-center justify-center h-full ">
      <h2 class="text-6xl font-bold text-white ">CONTACT</h2>
      <p class="mt-6 text-xl text-slate500 font-extralight">
        Feel Free to Get in Touch With Us!
      </p>
    </div>
  </div>
  <section class="flex flex-col items-center justify-center py-24 " style="max-Width:1200px;">
    <div class="flex flex-row items-start w-full ">
      <div class="flex flex-col items-start justify-center flex-1 h-full p-24 ">
        <p class="text-4xl text-white">Contact us</p>
        <p class="mt-3 text-white">
          A member of our support staff will respond as soon as possible.
        </p>
      </div>
      <div class="flex flex-col items-start justify-center flex-1 w-full h-full p-24 ">

        <form role="form" action="" method="post" id="contactform">
          {% csrf_token %}
          <div class="flex flex-col items-start">
            <label>name</label>
            {{form.name}}
          </div>

          <div class="flex flex-col items-start mt-3">
            <label>Email</label>
            {{form.email}}
          </div>

          <div class="hidden">
            <label>type</label>
            {{form.type}}
          </div>
          <div class="flex flex-col items-start  mt-3">
            <label class="">I need help with</label>
            {{form.helpType}}
          </div>

          <div class="flex flex-col items-start mt-3">
            <label>message</label>
            {{form.message}}
          </div>

          <button class="w-full py-3 mt-3 bg-primary" type="submit">
            Send Message
          </button>
        </form>

      </div>
    </div>
  </section>
</div>
{% endblock content %}