{% extends 'base.html' %}
{% load static %}
{% block page_name %} home {% endblock page_name %}

{%block content %}
<!-- first -->
{% if first_product.image.content_type == "mp4" %}
<section class="relative w-full h-screen m-auto overflow-hidden">
  <video autoplay muted playsinline loop poster="{{first_product.image.thumnail.url}}" class="object-cover w-full h-full">
    <source src="{{first_product.image.file800.url}}" />
  </video>
  <div class="absolute top-0 left-0 flex flex-col items-start justify-start w-full h-full py-24" style="background-image: linear-gradient(to right, rgba(29, 31, 35, 1) 10%,  rgba(29, 31, 35, 0.9) 50%, rgba(29, 31, 35, 0.6)  100%)">
    <div class="flex flex-col items-start justify-end  h-full px-3 mx-auto mb-24 container lg:px-6 ">
      <h2 class="text-lg lg:text-6xl font-bold text-white ">
        Beauty in every stroke
      </h2>
      <p class="mt-6 text-md lg:text-xl text-slate500 font-extralight">
        Experience the spirit of Korean artists on K-NFT Canvas.
      </p>
      <a href="/product" class="mt-24 link_btn">
        K-NFT Art Gallery
      </a>
    </div>
  </div>
</section>
{% else%}
<section class="flex flex-col items-start justify-end w-full min-h-screen py-24" style="background-image: linear-gradient(to right, rgba(29, 31, 35, 1) 10%,  rgba(29, 31, 35, 0.9) 50%, rgba(29, 31, 35, 0.6)  100%), url({{first_product.image.file800.url}}); background-repeat: no-repeat;background-position: center;background-size: cover;">
  <div class="flex flex-col items-start justify-end  h-full px-3 mx-auto mb-24 container lg:px-6 ">
    <h2 class="text-3xl lg:text-6xl font-bold text-white ">
      Beauty in every stroke
    </h2>
    <p class="mt-6 text-lg lg:text-xl text-slate500 font-extralight">
      Experience the spirit of Korean artists on K-NFT Canvas.
    </p>
    <a href="/product" class="mt-24 link_btn">
      K-NFT Art Gallery
    </a>
  </div>
</section>
{% endif %}
<!-- the mindSet -->
<section class="flex flex-col items-center w-full py-24 mx-auto container px-3 lg:px-6">
  <p class="text-xl font-light text-white">Korean Calligraphic NFT Art</p>
  <h2 class="mt-2 text-5xl text-white">
    Mindset
  </h2>
  <p class="mt-6 text-lg font-light tracking-wider text-justify text-slate500">We strive to achieve something. We feel rewarded by achieving one by one. However, both those who have achieved a lot and those who have achieved a little say that they are insufficient, anxious, and lonely when looking back on their lives. It is typical of modern people who have lost their minds by coveting materials. What's the point of finding a missing heart only after losing it? Everyone must study self-positive and mind. You have to look around, talk to natural life, and find yourself in it. Writer Lee Cheol-soo's work comforts modern people who want to study their minds. First of all, it is a story handed down by a person who practices mind study and as a writer who writes down the sound of the mind in pictures and writing. He responded to this story with his own story and expressed his hope to continue with the conversation. It contains the desire for a flower to bloom in the conversation.
  </p>
  <div class="grid w-full grid-cols-1 lg:grid-cols-3 gap-24 justify-items-center mt-12">
    {% for mindset in mindsets  %}
    <div class="relative flex flex-col items-center justify-start col-span-1 overflow-hidden transition-transform duration-200 ease-in-out rounded-lg " style="width: 300px;height: 420px;">
      <div id="fontCard" class="flex flex-col items-start w-full h-full">
        <div class="flex flex-col items-center justify-start w-full bg-white" id="card">
          <img src="{{mindset.image.file800.url}}" style="height: 300px;width: 300px;" class="cursor-pointer object-cover " />
        </div>
        <div class="flex flex-col items-start w-full p-3 bg-gray-200" style="height: 120px;width: 300px;">
          <p class="text-xl font-bold line-clamp-1">{{mindset.title}}</p>
          <div class="flex flex-row items-end justify-between w-full">
            <div class="flex flex-col items-start">
              <p class="">Reserve Price</p>
              <p class="text-xl font-bold">{{mindset.price}} ETH</p>
            </div>
            <a href="/author/{{mindset.author.id}}" class="flex flex-col items-center cursor-pointer">
              <img src="{{mindset.author.avator.thumnail.url}}" style="width: 40px;height: 40px;" class="border-2 rounded-full border-primary" />
              <p>{{mindset.author}}</p>
            </a>
          </div>
        </div>
      </div>
      <a href="/product/{{mindset.id}}" id="backCard" class="flex-col items-start justify-between hidden w-full h-full p-6 transition-all duration-200 ease-in-out opacity-0 cursor-pointer bg-primary">

        <div class="flex flex-col items-start">
          <p class="text-xl font-bold line-clamp-1">{{mindset.title}}</p>
          <p class="mt-3 text-justify line-clamp-4">{{mindset.description}}</p>
        </div>

      </a>
    </div>
    {% endfor %}
  </div>
  <a href="/products" class="mt-24 link_btn">
    More notable NFTs
  </a>
</section>
<!-- the LOVE -->
<section class="flex flex-col items-center w-full py-24 mx-auto container px-3 lg:px-6">
  <p class="text-xl font-light text-white">Korean Calligraphic NFT Art</p>
  <h2 class="mt-2 text-5xl text-white">
    The LOVE
  </h2>
  <p class="mt-6 text-lg font-light tracking-wider text-justify text-slate500">K-NFT introduces Hangul Calligraphy, a hand-drawn pictogram. Enjoy the works of 'Love', the theme of which were written by Korea's leading calligraphers.</p>
  <div class="grid w-full grid-cols-1 lg:grid-cols-3 gap-24 justify-items-center mt-12">
    {% for product in main_product  %}
    <div class="relative flex flex-col items-center justify-start col-span-1 overflow-hidden transition-transform duration-200 ease-in-out rounded-lg " style="width: 300px;height: 420px;">
      <div id="fontCard" class="flex flex-col items-start w-full h-full">
        <div class="flex flex-col items-center justify-start w-full bg-white" id="card">
          {% if product.image.content_type == "mp4" %}
          <video autoplay muted loop playsinline poster="{{product.image.thumnail.url}}" class="object-cover cursor-pointer " style="height: 300px;width: 300px;">
            <source src="{{product.image.file800.url}}" />
          </video>
          {% else %}
          <img src="{{product.image.file800.url}}" style="height: 300px;width: 300px;" class="cursor-pointer object-cover " />
          {% endif %}
        </div>
        <div class="flex flex-col items-start w-full p-3 bg-gray-200" style="height: 120px;width: 300px;">
          <p class="text-xl font-bold line-clamp-1">{{product.title}}</p>
          <div class="flex flex-row items-end justify-between w-full">
            <div class="flex flex-col items-start">
              <p class="">Reserve Price</p>
              <p class="text-xl font-bold">{{product.price}} ETH</p>
            </div>
            <a href="/author/{{product.author.id}}" class="flex flex-col items-center cursor-pointer">
              <img src="{{product.author.avator.thumnail.url}}" style="width: 40px;height: 40px;" class="border-2 rounded-full border-primary" />
              <p>{{product.author}}</p>
            </a>
          </div>
        </div>
      </div>
      <a href="/product/{{product.id}}" id="backCard" class="flex-col items-start justify-between hidden w-full h-full p-6 transition-all duration-200 ease-in-out opacity-0 cursor-pointer bg-primary">

        <div class="flex flex-col items-start">
          <p class="text-xl font-bold line-clamp-1">{{product.title}}</p>
          <p class="mt-3 text-justify line-clamp-4">{{product.description}}</p>
        </div>

      </a>
    </div>
    {% endfor %}
  </div>
  <a href="/product" class="mt-24 link_btn">
    More notable NFTs
  </a>
</section>
<section class="w-full text-white flex flex-col items-center" style="background: linear-gradient(to right, rgba(29, 31, 35, 1) 10%,  rgba(29, 31, 35, 0.9) 50%, rgba(29, 31, 35, 0.6)  100%), url('{% static "img/loveBack.jpeg" %}') no-repeat center center; ">
  <div class="flex flex-col items-center w-full py-24 container ">
    <p class="text-xl font-light text-white">The Korean Alphabet</p>
    <h2 class="mt-2 text-5xl text-white">
      Hangul
    </h2>
    <p class="mt-6 text-lg font-light tracking-wider text-justify text-slate500">
      Hangul is the alphabet of the written Korean language. It is comprised of 24 letters (originally 28), including 14 consonants and 10 vowels. Consonants are represented by curved or angled lines and vowels consist of a single vertical or horizontal line with short perpendicular lines on one side.
    </p>
    <div class="mt-12 w-full">
      <div class="grid grid-cols-10 gap-2 w-full">

        <div class="flex flex-col items-center justify-center border divide-y divide-primary border-primary">
          <p class="flex flex-col items-center justify-center flex-1 p-1 font-bold text-primary">
            ㅏ
          </p>
          <p class="flex flex-col items-center justify-center flex-1 p-1 text-sm font-thin">
            A
          </p>
        </div>
        <div class="flex flex-col items-center justify-center border divide-y divide-primary border-primary">
          <p class="flex flex-col items-center justify-center flex-1 p-1 font-bold text-primary">
            ㅑ
          </p>
          <p class="flex flex-col items-center justify-center flex-1 p-1 text-sm font-thin">
            YA
          </p>
        </div>
        <div class="flex flex-col items-center justify-center border divide-y divide-primary border-primary">
          <p class="flex flex-col items-center justify-center flex-1 p-1 font-bold text-primary">
            ㅓ
          </p>
          <p class="flex flex-col items-center justify-center flex-1 p-1 text-sm font-thin">
            AW
          </p>
        </div>
        <div class="flex flex-col items-center justify-center border divide-y divide-primary border-primary">
          <p class="flex flex-col items-center justify-center flex-1 p-1 font-bold text-primary">
            ㅕ
          </p>
          <p class="flex flex-col items-center justify-center flex-1 p-1 text-sm font-thin">
            YAW
          </p>
        </div>
        <div class="flex flex-col items-center justify-center border divide-y divide-primary border-primary">
          <p class="flex flex-col items-center justify-center flex-1 p-1 font-bold text-primary">
            ㅗ
          </p>
          <p class="flex flex-col items-center justify-center flex-1 p-1 text-sm font-thin">
            O
          </p>
        </div>
        <div class="flex flex-col items-center justify-center border divide-y divide-primary border-primary">
          <p class="flex flex-col items-center justify-center flex-1 p-1 font-bold text-primary">
            ㅛ
          </p>
          <p class="flex flex-col items-center justify-center flex-1 p-1 text-sm font-thin">
            YO
          </p>
        </div>
        <div class="flex flex-col items-center justify-center border divide-y divide-primary border-primary">
          <p class="flex flex-col items-center justify-center flex-1 p-1 font-bold text-primary">
            ㅜ
          </p>
          <p class="flex flex-col items-center justify-center flex-1 p-1 text-sm font-thin">
            OO
          </p>
        </div>
        <div class="flex flex-col items-center justify-center border divide-y divide-primary border-primary">
          <p class="flex flex-col items-center justify-center flex-1 p-1 font-bold text-primary">
            ㅠ
          </p>
          <p class="flex flex-col items-center justify-center flex-1 p-1 text-sm font-thin">
            YOO
          </p>
        </div>
        <div class="flex flex-col items-center justify-center border divide-y divide-primary border-primary">
          <p class="flex flex-col items-center justify-center flex-1 p-1 font-bold text-primary">
            ㅡ
          </p>
          <p class="flex flex-col items-center justify-center flex-1 p-1 text-sm font-thin">
            EU or U
          </p>
        </div>
        <div class="flex flex-col items-center justify-center border divide-y divide-primary border-primary">
          <p class="flex flex-col items-center justify-center flex-1 p-1 font-bold text-primary">
            ㅣ
          </p>
          <p class="flex flex-col items-center justify-center flex-1 p-1 text-sm font-thin">
            I or EE
          </p>
        </div>
      </div>
      <div class="grid grid-cols-10 gap-2 mt-12">

        <div class="flex flex-col items-center justify-center border divide-y divide-secondary border-secondary">
          <p class="flex flex-col items-center justify-center flex-1 p-1 font-bold text-secondary">
            ㄱ
          </p>
          <p class="flex flex-col items-center justify-center flex-1 p-1 text-sm font-thin">
            K or G
          </p>
        </div>
        <div class="flex flex-col items-center justify-center border divide-y divide-secondary border-secondary">
          <p class="flex flex-col items-center justify-center flex-1 p-1 font-bold text-secondary">
            ㄴ
          </p>
          <p class="flex flex-col items-center justify-center flex-1 p-1 text-sm font-thin">
            N
          </p>
        </div>
        <div class="flex flex-col items-center justify-center border divide-y divide-secondary border-secondary">
          <p class="flex flex-col items-center justify-center flex-1 p-1 font-bold text-secondary">
            ㄷ
          </p>
          <p class="flex flex-col items-center justify-center flex-1 p-1 text-sm font-thin">
            D or T
          </p>
        </div>
        <div class="flex flex-col items-center justify-center border divide-y divide-secondary border-secondary">
          <p class="flex flex-col items-center justify-center flex-1 p-1 font-bold text-secondary">
            ㄹ
          </p>
          <p class="flex flex-col items-center justify-center flex-1 p-1 text-sm font-thin">
            R or L
          </p>
        </div>
        <div class="flex flex-col items-center justify-center border divide-y divide-secondary border-secondary">
          <p class="flex flex-col items-center justify-center flex-1 p-1 font-bold text-secondary">
            ㅁ
          </p>
          <p class="flex flex-col items-center justify-center flex-1 p-1 text-sm font-thin">
            M
          </p>
        </div>
        <div class="flex flex-col items-center justify-center border divide-y divide-secondary border-secondary">
          <p class="flex flex-col items-center justify-center flex-1 p-1 font-bold text-secondary">
            ㅂ
          </p>
          <p class="flex flex-col items-center justify-center flex-1 p-1 text-sm font-thin">
            B or P
          </p>
        </div>
        <div class="flex flex-col items-center justify-center border divide-y divide-secondary border-secondary">
          <p class="flex flex-col items-center justify-center flex-1 p-1 font-bold text-secondary">
            ㅅ
          </p>
          <p class="flex flex-col items-center justify-center flex-1 p-1 text-sm font-thin">
            S
          </p>
        </div>
        <div class="flex flex-col items-center justify-center border divide-y divide-secondary border-secondary">
          <p class="flex flex-col items-center justify-center flex-1 p-1 font-bold text-secondary">
            ㅇ
          </p>
          <p class="flex flex-col items-center justify-center flex-1 p-1 text-sm font-thin">
            NG
          </p>
        </div>
        <div class="flex flex-col items-center justify-center border divide-y divide-secondary border-secondary">
          <p class="flex flex-col items-center justify-center flex-1 p-1 font-bold text-secondary">
            ㅈ
          </p>
          <p class="flex flex-col items-center justify-center flex-1 p-1 text-sm font-thin">
            J
          </p>
        </div>
        <div class="flex flex-col items-center justify-center border divide-y divide-secondary border-secondary">
          <p class="flex flex-col items-center justify-center flex-1 p-1 font-bold text-secondary">
            ㅊ
          </p>
          <p class="flex flex-col items-center justify-center flex-1 p-1 text-sm font-thin">
            CH
          </p>
        </div>
        <div class="flex flex-col items-center justify-center border divide-y divide-secondary border-secondary">
          <p class="flex flex-col items-center justify-center flex-1 p-1 font-bold text-secondary">
            ㅋ
          </p>
          <p class="flex flex-col items-center justify-center flex-1 p-1 text-sm font-thin">
            K
          </p>
        </div>
        <div class="flex flex-col items-center justify-center border divide-y divide-secondary border-secondary">
          <p class="flex flex-col items-center justify-center flex-1 p-1 font-bold text-secondary">
            ㅌ
          </p>
          <p class="flex flex-col items-center justify-center flex-1 p-1 text-sm font-thin">
            T
          </p>
        </div>
        <div class="flex flex-col items-center justify-center border divide-y divide-secondary border-secondary">
          <p class="flex flex-col items-center justify-center flex-1 p-1 font-bold text-secondary">
            ㅍ
          </p>
          <p class="flex flex-col items-center justify-center flex-1 p-1 text-sm font-thin">
            P
          </p>
        </div>
        <div class="flex flex-col items-center justify-center border divide-y divide-secondary border-secondary">
          <p class="flex flex-col items-center justify-center flex-1 p-1 font-bold text-secondary">
            ㅎ
          </p>
          <p class="flex flex-col items-center justify-center flex-1 p-1 text-sm font-thin">
            H
          </p>
        </div>
      </div>
      <div class="flex flex-row items-start justify-center w-full mt-12 ">
        <div class="flex flex-col items-center justify-center ">
          <p class="flex flex-col items-center justify-center flex-1 p-1 text-4xl">
            사
          </p>
          <div class="flex flex-row items-center justify-center mt-3">
            <div class="flex flex-col items-center mx-1 border divide-y border-secondary divide-secondary" style="width:70px;">
              <p class="flex flex-col items-center justify-center p-1 text-4xl">
                ㅅ
              </p>
              <p class="flex flex-col items-center justify-center p-1 text-sm">
                S
              </p>
            </div>
            <div class="flex flex-col items-center mx-1 border divide-y border-primary divide-primary" style="width:70px;">
              <p class="flex flex-col items-center justify-center flex-1 p-1 text-4xl">
                ㅏ
              </p>
              <p class="flex flex-col items-center justify-center flex-1 p-1 text-sm">
                A
              </p>
            </div>
          </div>
        </div>
        <div class="flex flex-col items-center justify-center ml-3">
          <p class="flex flex-col items-center justify-center flex-1 p-1 text-4xl">
            랑
          </p>
          <div class="flex flex-row items-center justify-center mx-1 mt-3">
            <div class="flex flex-col items-center mx-1 border divide-y border-secondary divide-secondary" style="width:70px;">
              <p class="flex flex-col items-center justify-center flex-1 p-1 text-4xl">
                ㄹ
              </p>
              <p class="flex flex-col items-center justify-center flex-1 p-1 text-sm">
                R or L
              </p>
            </div>
            <div class="flex flex-col items-center mx-1 border divide-y border-primary divide-primary" style="width:70px;">
              <p class="flex flex-col items-center justify-center flex-1 p-1 text-4xl">
                ㅏ
              </p>
              <p class="flex flex-col items-center justify-center flex-1 p-1 text-sm">
                A
              </p>
            </div>
            <div class="flex flex-col items-center mx-1 border divide-y border-secondary divide-secondary" style="width:70px;">
              <p class="flex flex-col items-center justify-center flex-1 p-1 text-4xl">
                ㅇ
              </p>
              <p class="flex flex-col items-center justify-center flex-1 p-1 text-sm">
                NG
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <h2 class="mt-24 text-5xl text-white">
      Korean calligraphy
    </h2>

    <p class="mt-6 text-lg font-light tracking-wider text-justify text-slate500">
      Korean calligraphy is the art of freehand Hangul script. This style of art breathes life into Hangul’s geometric alphabet by adding soft curves and natural movement. Calligraphy turns words into stories and evokes style and emotion, and K-NFT exhibits the work of talented Korean artists who find and create beauty with Hangul calligraphy.
    </p>

  </div>
</section>
<section class="flex flex-col items-center w-full py-24 bg-secondary ">
  <div class="container">
    <div class="flex flex-col items-center w-full">
      <p class="text-xl font-light text-white">Future Project</p>
      <h2 class="mt-6 text-5xl text-white bg-primary px-24 py-6">
        The Road
      </h2>

      <p class="mt-6 font-serif text-3xl leading-10 text-justify text-primary">
        Photography is coming soon to K-NFT through the work of
        documentary photographer Il-seop Lee, who captures the essence of
        life in Korea in photos.
      </p>

      <p class="mt-12 font-serif text-3xl leading-10 text-justify text-primary">
        K-NFT will also exhibit the work of Lee Cheol-soo, a Korean
        representative woodblock artist. Like the calligraphy of the
        “Love” collection, Cheol-soo’s work utilizes Hangul and embodies
        Korean culture.
      </p>
    </div>
  </div>
</section>
<script>
  const card = document.querySelectorAll("#card");
  card.forEach(function(cardWrap) {

    const fontCard = cardWrap.parentNode
    const backCard = cardWrap.parentNode.nextSibling.nextSibling
    console.log(fontCard, backCard)
    cardWrap.addEventListener("mouseenter", function(event) {

      console.log("enter")
      let backCardcheck = backCard.classList.contains("opacity-100");
      if (backCardcheck) {
        backCard.classList.replace("opacity-100", "opacity-0")
        backCard.classList.replace("flex", "hidden")
        fontCard.classList.replace("hidden", "flex")
      } else {
        backCard.classList.replace("opacity-0", "opacity-100")
        backCard.classList.replace("hidden", "flex")
        fontCard.classList.replace("flex", "hidden")
      }
    });
    backCard.addEventListener("mouseleave", function(event) {
      // highlight the mouseenter target
      // event.target.style.color = "purple";
      console.log("mouseleave")

      let check = backCard.classList.contains("opacity-100");
      if (check) {
        backCard.classList.replace("opacity-100", "opacity-0")
        backCard.classList.replace("flex", "hidden")
        fontCard.classList.replace("hidden", "flex")
      } else {
        backCard.classList.replace("opacity-0", "opacity-100")
        backCard.classList.replace("hidden", "flex")
        fontCard.classList.replace("flex", "hidden")
      }
    })
  });
  // // This handler will be executed every time the cursor
  // // is moved over a different list item
  // card.addEventListener("mouseover", function( event ) {
  //   // highlight the mouseover target
  //   event.target.style.color = "orange";
  //   console.log("leave")
  //   // reset the color after a short delay
  //   // setTimeout(function() {
  //   //   event.target.style.color = "";
  //   // }, 500);
  // }, false);
</script>


{% endblock content %}