{% extends 'base.html' %}
{% block page_name %} home {% endblock page_name %}

{%block content %}
<!-- first -->
{% if first_product.image.content_type == "mp4" %}
<section class="relative w-full h-screen m-auto overflow-hidden">
  <video autoplay muted playsinline loop poster="{{first_product.image.thumnail.url}}" class="object-cover w-full h-full">
    <source src="{{first_product.image.file800.url}}" />
  </video>
  <div class="absolute top-0 left-0 flex flex-col items-start justify-start w-full h-full py-24" style="background-image: linear-gradient(to right, rgba(29, 31, 35, 1) 10%,  rgba(29, 31, 35, 0.9) 50%, rgba(29, 31, 35, 0.6)  100%)">
    <div class="flex flex-col items-start justify-end  h-full px-3 mx-auto mb-24 container lg:px-6 ">
      <h2 class="text-lg lg:text-6xl font-bold text-white ">
        Beauty in every stroke
      </h2>
      <p class="mt-6 text-md lg:text-xl text-slate500 font-extralight">
        Experience the spirit of Korean artists on K-NFT Canvas.
      </p>
      <a href="/product" class="mt-24 link_btn">
        K-NFT Art Gallery
      </a>
    </div>
  </div>
</section>
{% else%}
<section class="flex flex-col items-start justify-end w-full min-h-screen py-24" style="background-image: linear-gradient(to right, rgba(29, 31, 35, 1) 10%,  rgba(29, 31, 35, 0.9) 50%, rgba(29, 31, 35, 0.6)  100%), url({{first_product.image.file800.url}}); background-repeat: no-repeat;background-position: center;background-size: cover;">
  <div class="flex flex-col items-start justify-end  h-full px-3 mx-auto mb-24 container lg:px-6 ">
    <h2 class="text-3xl lg:text-6xl font-bold text-white ">
      Beauty in every stroke
    </h2>
    <p class="mt-6 text-lg lg:text-xl text-slate500 font-extralight">
      Experience the spirit of Korean artists on K-NFT Canvas.
    </p>
    <a href="/product" class="mt-24 link_btn">
      K-NFT Art Gallery
    </a>
  </div>
</section>
{% endif %}

<!-- the LOVE -->
<section class="flex flex-col items-center w-full py-24 mx-auto container px-3 lg:px-6">
  <p class="text-xl font-light text-white">Korean Calligraphic NFT Art</p>
  <h2 class="mt-2 text-5xl text-white">
    The LOVE
  </h2>
  <p class="mt-6 text-lg font-light tracking-wider text-justify text-slate500">K-NFT introduces Hangul Calligraphy, a hand-drawn pictogram. Enjoy the works of 'Love', the theme of which were written by Korea's leading calligraphers.</p>
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-12 lg:gap-24 mt-12 justify-items-center">
    {% for product in main_product  %}
    <div class="relative flex flex-col items-center justify-start col-span-1 overflow-hidden transition-transform duration-200 ease-in-out rounded-lg " style="width: 300px;height: 420px;">
      <div id="fontCard" class="flex flex-col items-start w-full h-full">
        <div class="flex flex-col items-center justify-start w-full bg-white" id="card">
          {% if product.image.content_type == "mp4" %}
          <video autoplay muted playsinline loop poster="{{product.image.thumnail.url}}" class="object-cover cursor-pointer " style="height: 300px">
            <source src="{{product.image.file360.url}}" />
          </video>
          {% else %}
          <img src="{{product.image.file360.url}}" style="height: 300px" class="cursor-pointer object-cover" />
          {% endif %}
        </div>
        <div class="flex flex-col items-start w-full p-3 bg-gray-200" style="height: 120px;width: 300px;">
          <p class="text-xl font-bold line-clamp-1">{{product.title}}</p>
          <div class="flex flex-row items-end justify-between w-full">
            <div class="flex flex-col items-start">
              <p class="">Reserve Price</p>
              <p class="text-xl font-bold">{{product.price}} ETH</p>
            </div>
            <a href="/author/{{product.author.id}}" class="flex flex-col items-center cursor-pointer">
              <img src="{{product.author.avator.thumnail.url}}" style="width: 40px;height: 40px;" class="border-2 rounded-full border-primary" />
              <p>{{product.author}}</p>
            </a>
          </div>
        </div>
      </div>
      <a href="/product/{{product.id}}" id="backCard" class="flex-col items-start justify-between hidden w-full h-full p-6 transition-all duration-200 ease-in-out opacity-0 cursor-pointer bg-primary">
        <div class="flex flex-col items-start">
          <p class="text-xl font-bold line-clamp-1">{{product.title}}</p>
          <p class="mt-3 text-justify line-clamp-4">{{product.description}}</p>
        </div>

      </a>
    </div>
    {% endfor %}
  </div>
  <a href="/product" class="mt-24 link_btn">
    More notable NFTs
  </a>
</section>

<script>
  const card = document.querySelectorAll("#card");
  card.forEach(function(cardWrap) {

    const fontCard = cardWrap.parentNode
    const backCard = cardWrap.parentNode.nextSibling.nextSibling
    console.log(fontCard, backCard)
    cardWrap.addEventListener("mouseenter", function(event) {

      console.log("enter")
      let backCardcheck = backCard.classList.contains("opacity-100");
      if (backCardcheck) {
        backCard.classList.replace("opacity-100", "opacity-0")
        backCard.classList.replace("flex", "hidden")
        fontCard.classList.replace("hidden", "flex")
      } else {
        backCard.classList.replace("opacity-0", "opacity-100")
        backCard.classList.replace("hidden", "flex")
        fontCard.classList.replace("flex", "hidden")
      }
    });
    backCard.addEventListener("mouseleave", function(event) {
      // highlight the mouseenter target
      // event.target.style.color = "purple";
      console.log("mouseleave")

      let check = backCard.classList.contains("opacity-100");
      if (check) {
        backCard.classList.replace("opacity-100", "opacity-0")
        backCard.classList.replace("flex", "hidden")
        fontCard.classList.replace("hidden", "flex")
      } else {
        backCard.classList.replace("opacity-0", "opacity-100")
        backCard.classList.replace("hidden", "flex")
        fontCard.classList.replace("flex", "hidden")
      }
    })
  });
  // // This handler will be executed every time the cursor
  // // is moved over a different list item
  // card.addEventListener("mouseover", function( event ) {
  //   // highlight the mouseover target
  //   event.target.style.color = "orange";
  //   console.log("leave")
  //   // reset the color after a short delay
  //   // setTimeout(function() {
  //   //   event.target.style.color = "";
  //   // }, 500);
  // }, false);
</script>


{% endblock content %}